 <!--Bottom Footer-->
 <footer class="site-footer bg-dark p-3 m-6 fixed-bottom">
    <div class="container text-center">
          <p>©<span>2022 </span> <a href="/" class="transition">FoodCircles </a> All rights reserved.</p>
    </div>
  </footer>