<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <a class="navbar-brand" href="/"><img src="/assets/assets/logo.png" width="50px" height="50px"></a>
          <ul class="navbar-nav mx-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/meal">Meal</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/restaurants">Restaurants</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/catering">Catering</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Blog
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="/blog">All Articles</a>
                <a class="dropdown-item" href="/blog/new">New Articles</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Reviews
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="/reviews">All Reviews</a>
                <a class="dropdown-item" href="/reviews/new">New Review</a>
              </div>
            </li>
          </ul>
          <ul class="navbar-nav mx-auto">
            <li class="nav-item">
              <a class="nav-link" href="/auth/login">Login</a>
            </li>
            <li class="nav-item">
              <form action="/logout?_method=DELETE" method="POST">
                <button class="btn btn-outline" type="submit">Logout</button>
              </form>
            </li>
          </ul>
        </div>
      </nav>
</header>