<div class="container">
    <h1>Reviews</h1>
    <!--Review page-->
    <% reviews.forEach(review => { %>
        <div class="card shadow-sm border border-2" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title"><%= review.restaurantName %></h5>
              <h6 class="card-subtitle mb-2 text-muted"><%= review.mealType %></h6>
              <p class="card-text">Rating: <%= review.stars %></p>
              <p class="card-text"><%= review.description %></p>
            </div>
          </div>
    <% }) %> 
</div>
