<div class="container">
    <h1>Reviews</h1>
    <!--Review page-->
    <form class="row g-3 border m-4 p-3" id="contactForm">
        <div class="col-md-6">
            <label for="restaurantname" class="form-label">Restaurant Name</label>
            <input type="text" class="form-control" id="restaurantname"  name="restaurantname" required>
        </div>
        <div class="col-md-6">
            <label for="mealtype" class="form-label">Meal Type</label>
            <input type="email" class="form-control" id="mealtype" name="mealtype">
        </div>
        <div class="col-md-4">
            <label for="rating" class="form-label">Rating</label>
            <input type="text" class="form-control" id="rating" name="rating">
        </div>
        <div class="col-md-12">
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control" id="description" name="description"></textarea>
        </div>
        <div class="col-md-12">
            <button type="button" id="saveData" class="btn btn-primary m-2">Submit</button>
        </div>
    </form>
</div>