<div class="container">
  <div class="row">
    <div class="col-4 border-right">
        <ul class="list-unstyled p-1">
            <li class="border p-2 mb-1 rounded-pill text-center"><a href="">Breakfast</a></li>
            <li class="border p-2 mb-1 rounded-pill text-center"><a href="">Our Specials</a></li>
            <li class="border p-2 mb-1 rounded-pill text-center"><a href="">Pastry</a></li>
            <li class="border p-2 mb-1 rounded-pill text-center"><a href="">Desert</a></li>
            <li class="border p-2 mb-1 rounded-pill text-center"><a href="">Kids Dish</a></li>
            <li class="border p-2 mb-1 rounded-pill text-center"><a href="">Salad &amp; Soup</a></li> 
        </ul>
    </div>
    <div class="col-8">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>