<!--Page Content-->
<div class="container">
  <form class="d-flex m-3" action="/shop/search" method="get" >
    <input class="form-control me-2" name="fsearch" id="fsearch" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>

  <% if(data.length>0) { %>
      <% for(var i=0;i < data.length;i++) { %>
        <div class="grid">
          <div class="g-col-6 breakfast-list">
            <div class="col-sm-6">
              <div class="card">
                  <div class="card-body">
                      <h5 class="card-title"><%= data[i].meal.name %> </h5>
                      <p class="card-text">Price : <%= data[i].meal.price %> </p>
                  </div>
              </div>
            </div>
          </div>
        </div>  

      <% } %> 

  <% } %> 
</div>